@use "variables";

@use "mixins/mixin";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Times New Roman", Times, arial, serif;
  overflow-x: hidden;
  @include mixin.l-height(1.5rem);
  scroll-behavior: smooth;
}
.cover-img {
  background: url(/assets/negative-space-black-forest-dawn.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  @include mixin.white-text;
  position: relative;
  font-weight: 500;
}

.arrow {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

.arrow-white::before {
  background-color: variables.$secondary-color;
  border-radius: 50%;
}

.arrow-black {
  color: variables.$secondary-color;
}

.menu {
  @include mixin.flex;
  padding: 2.5rem;
}

.menu-items {
  display: inline;
  text-align: center;
}

.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-align: center;
  @include mixin.l-height(2rem);
}

.contact-wrapper {
  background-color: variables.$secondary-color;
  color: variables.$primary-color;

  @include mixin.flex;
  text-align: start;
  padding: 10% 25%;

  @include mixin.tablet {
    @include mixin.row;
  }

  @include mixin.desktop {
    @include mixin.row;
  }
}
.contact-info {
  @include mixin.l-height(1.8rem);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: variables.$primary-color;
}

main {
  @include mixin.flex;
}

.profile-img {
  width: 250px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.5);
}

.team-wrapper {
  text-align: center;
  @include mixin.flex;
  align-items: center;

  @include mixin.desktop {
    display: grid;
    grid-template-columns: auto;
    grid-auto-columns: minmax(200px, auto);
    grid-gap: 100px;
    column-gap: 150px;

    grid-template-areas:
      "team-tittle team-tittle"
      "team-member-one team-member-two"
      "team-member-three team-member-four"
      "arrow arrow";
    place-items: center;
    justify-content: center;
  }
}

.t-title {
  grid-area: team-tittle;
}
.t-member-one {
  grid-area: team-member-one;
}

.t-member-two {
  grid-area: team-member-two;
}

.arrow-arrow {
  grid-area: arrow;
  padding-bottom: 40px;
}

.icons {
  padding-right: 20px;
}

.text-boxes {
  background-color: variables.$box-color;
  width: 250px;
  height: 100px;
  border-radius: 5px;
  padding: 2rem;
  padding-top: 20px;
  justify-content: center;
  align-items: center;

  @include mixin.tablet {
    width: 400px;
    height: 100px;
    border-radius: 7px;
    text-align: center;
  }
}

.quote {
  font-size: 40px;
}

.arrow-white,
.arrow-black {
  font-size: 35px;
  padding: 30px;
}

/*menu */

/* header */

.header {
  display: block;
  font-size: 18px;
  padding: 10px 20px;

  @include mixin.desktop {
    background-color: variables.$b-transparent;
    //box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
  }

  @include mixin.tablet {
    background-color: variables.$b-transparent;
    // box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    z-index: 1;
  }
}

.header ul {
  margin: 2px;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
  @include mixin.desktop {
    text-decoration: underline;
  }

  @include mixin.tablet {
    text-decoration: underline;
  }
}

/* menu */

.header .menu {
  max-height: 0;
  transition: max-height 0.2s ease-out;
  padding-right: 55px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: flex;
  justify-content: end;
  padding: 10px 10px;
  position: relative;
  user-select: none;
  background-color: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@include mixin.tablet {
  .header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: end;
  }

  .header li a {
    padding: 20px 20px;
  }
  .header .menu {
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
