@use "variables";

@mixin white-text {
  color: variables.$primary-color;
}

@mixin l-height($l-h) {
  line-height: $l-h;
}

@mixin flex {
  display: flex;
  flex-direction: column;
}

@mixin tablet {
  @media screen and (min-width: 786px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
