@use "../variables";

@mixin white-text {
  color: variables.$primary-color;
}

@mixin l-height($l-h) {
  line-height: $l-h;
}

@mixin decoration($line) {
  text-decoration: $line;
}

@mixin corners($border) {
  border-radius: $border;
}

@mixin navigation {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  padding: 0;
}

@mixin tablet {
  @media screen and (min-width: variables.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: variables.$desktop) {
    @content;
  }
}
